<a href="https://colab.research.google.com/github/jyeunicepark/dataviz/blob/main/Scraping_Table_from_Wikipedia_(ft_Marriott).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import urllib.request
import pandas as pd
url = "https://en.wikipedia.org/wiki/Marriott_International"

with urllib.request.urlopen(url) as i:
    html = i.read()
    
data = pd.read_html(html)[0]
print(data.head())

                                                   0  \
0                                                NaN
1  Marriott International headquarters in Bethesd...
2                                               Type
3                                          Traded as
4                                           Industry

                                                   1
0                                                NaN
1  Marriott International headquarters in Bethesd...
2                                     Public company
3  Nasdaq: MAR (Class A)Nasdaq-100 componentS&P 5...
4                               Hospitality industry

In [3]:
data

,0,1
0,NaN,NaN
1,Marriott International headquarters in Bethesd...,Marriott International headquarters in Bethesd...
2,Type,Public company
3,Traded as,Nasdaq: MAR (Class A)Nasdaq-100 componentS&P 5...
4,Industry,Hospitality industry
5,Predecessor,Marriott Corporation
6,Founded,"March 5, 1927; 95 years agoWashington, D.C., U.S."
7,Founders,J. Willard MarriottAlice Marriott
8,Headquarters,"Bethesda, Maryland, U.S."
9,Number of locations,8484
10,Area served,Worldwide
11,Key people,Bill Marriott(Executive Chairman)Stephanie Lin...
12,Products,HotelsResorts
13,Revenue,US$13.86 billion (2021)
14,Operating income,US$1.75 billion (2021)
15,Net income,US$1.10 billion (2021)
16,Total assets,US$25.55 billion (2021)
17,Total equity,US$1.41 billion (2021)
18,Number of employees,"120,000 (December 2021)"
19,Subsidiaries,Marriott Hotels & Resorts The Ritz-Carlton Hot...
20,Website,marriott.com
21,Footnotes / references[1][2],Footnotes / references[1][2]

### Second Option

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

wikiurl="https://en.wikipedia.org/wiki/Marriott_International"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [5]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
table=soup.find('table',{'class':"wikitable"})

In [6]:
table

<table class="wikitable float-left" style="text-align: right;">
<tbody><tr>
<th>Year
</th>
<th>Revenue<br/>in mil. USD$
</th>
<th>Net income<br/>in mil. USD$
</th>
<th>Total Assets<br/>in mil. USD$
</th>
<th>Employees
</th></tr>
<tr>
<td>2005
</td>
<td>11,129
</td>
<td>669
</td>
<td>8,530
</td>
<td>143,000
</td></tr>
<tr>
<td>2006
</td>
<td>11,995
</td>
<td>608
</td>
<td>8,588
</td>
<td>150,600
</td></tr>
<tr>
<td>2007
</td>
<td>12,990
</td>
<td>696
</td>
<td>8,942
</td>
<td>151,000
</td></tr>
<tr>
<td>2008
</td>
<td>12,879
</td>
<td>362
</td>
<td>8,903
</td>
<td>146,000
</td></tr>
<tr>
<td>2009
</td>
<td>10,908
</td>
<td>−346
</td>
<td>7,933
</td>
<td>137,000
</td></tr>
<tr>
<td>2010
</td>
<td>11,691
</td>
<td>458
</td>
<td>8,983
</td>
<td>129,000
</td></tr>
<tr>
<td>2011
</td>
<td>12,317
</td>
<td>198
</td>
<td>5,910
</td>
<td>120,000
</td></tr>
<tr>
<td>2012
</td>
<td>11,814
</td>
<td>571
</td>
<td>6,342
</td>
<td>127,000
</td></tr>
<tr>
<td>2013
</td>
<td>12,784
</td>
<td>626
</td>
<td>6,794
</td>
<td>123,000
</td></tr>
<tr>
<td>2014
</td>
<td>13,796
</td>
<td>753
</td>
<td>6,833
</td>
<td>123,500
</td></tr>
<tr>
<td>2015
</td>
<td>14,486
</td>
<td>859
</td>
<td>6,082
</td>
<td>127,500
</td></tr>
<tr>
<td>2016
</td>
<td>15,407
</td>
<td>808
</td>
<td>24,140
</td>
<td>226,500
</td></tr>
<tr>
<td>2017
</td>
<td>20,452
</td>
<td>1,459
</td>
<td>23,948
</td>
<td>177,000
</td></tr>
<tr>
<td>2018
</td>
<td>20,758
</td>
<td>1,907
</td>
<td>23,696
</td>
<td>176,000
</td></tr>
<tr>
<td>2019
</td>
<td>20,972
</td>
<td>1,273
</td>
<td>25,051
</td>
<td>174,000
</td></tr>
<tr>
<td>2020
</td>
<td>10,571
</td>
<td>−267
</td>
<td>24,701
</td>
<td>121,000
</td></tr>
<tr>
<td>2021
</td>
<td>13,857
</td>
<td>1,099
</td>
<td>25,553
</td>
<td>120,000
</td></tr></tbody></table>

In [7]:
df=pd.read_html(str(table))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

   Year  Revenuein mil. USD$ Net incomein mil. USD$  Total Assetsin mil. USD$  \
0  2005                11129                    669                      8530
1  2006                11995                    608                      8588
2  2007                12990                    696                      8942
3  2008                12879                    362                      8903
4  2009                10908                   −346                      7933

   Employees
0     143000
1     150600
2     151000
3     146000
4     137000

In [8]:
df

,Year,Revenuein mil. USD$,Net incomein mil. USD$,Total Assetsin mil. USD$,Employees
0,2005,11129,669,8530,143000
1,2006,11995,608,8588,150600
2,2007,12990,696,8942,151000
3,2008,12879,362,8903,146000
4,2009,10908,−346,7933,137000
5,2010,11691,458,8983,129000
6,2011,12317,198,5910,120000
7,2012,11814,571,6342,127000
8,2013,12784,626,6794,123000
9,2014,13796,753,6833,123500
10,2015,14486,859,6082,127500
11,2016,15407,808,24140,226500
12,2017,20452,1459,23948,177000
13,2018,20758,1907,23696,176000
14,2019,20972,1273,25051,174000
15,2020,10571,−267,24701,121000
16,2021,13857,1099,25553,120000

In [9]:
df = df.rename(columns={'Total Assetsin mil. USD$': 'Total Assets (in US$ mil)', 'Revenuein mil. USD$': 'Revenue (in US$ mil)', 'Net incomein mil. USD$':"Net income (in US$ mil)"})

In [10]:
df

,Year,Revenue (in US$ mil),Net income (in US$ mil),Total Assets (in US$ mil),Employees
0,2005,11129,669,8530,143000
1,2006,11995,608,8588,150600
2,2007,12990,696,8942,151000
3,2008,12879,362,8903,146000
4,2009,10908,−346,7933,137000
5,2010,11691,458,8983,129000
6,2011,12317,198,5910,120000
7,2012,11814,571,6342,127000
8,2013,12784,626,6794,123000
9,2014,13796,753,6833,123500
10,2015,14486,859,6082,127500
11,2016,15407,808,24140,226500
12,2017,20452,1459,23948,177000
13,2018,20758,1907,23696,176000
14,2019,20972,1273,25051,174000
15,2020,10571,−267,24701,121000
16,2021,13857,1099,25553,120000

### Plotting Data

In [11]:
pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

In [12]:
#Incorporate these libraries to run on jupyter/colab

import plotly.offline as pyo
pyo.init_notebook_mode(connected = True)

pd.options.plotting.backend = 'plotly'

#Make it Colab Friendly
import plotly.io as pio
pio.renderers.default = "colab"

In [13]:
df.describe()

,Year,Revenue (in US$ mil),Total Assets (in US$ mil),Employees
count,17.000000,17.000000,17.000000,17.000000
mean,2013.000000,14047.411765,13584.058824,145417.647059
std,5.049752,3431.713148,8388.212410,28788.175422
min,2005.000000,10571.000000,5910.000000,120000.000000
25%,2009.000000,11814.000000,6833.000000,123500.000000
50%,2013.000000,12879.000000,8903.000000,137000.000000
75%,2017.000000,14486.000000,23948.000000,151000.000000
max,2021.000000,20972.000000,25553.000000,226500.000000

In [14]:
df.Employees.plot()

### Set "Year Column" as index in column

In [15]:
df = df.set_index('Year')

In [16]:
financial_metrics = df.iloc[:, 0:3]

In [17]:
financial_metrics

      Revenue (in US$ mil) Net income (in US$ mil)  Total Assets (in US$ mil)
Year
2005                 11129                     669                       8530
2006                 11995                     608                       8588
2007                 12990                     696                       8942
2008                 12879                     362                       8903
2009                 10908                    −346                       7933
2010                 11691                     458                       8983
2011                 12317                     198                       5910
2012                 11814                     571                       6342
2013                 12784                     626                       6794
2014                 13796                     753                       6833
2015                 14486                     859                       6082
2016                 15407                     808                      24140
2017                 20452                    1459                      23948
2018                 20758                    1907                      23696
2019                 20972                    1273                      25051
2020                 10571                    −267                      24701
2021                 13857                    1099                      25553

In [18]:
df.dtypes

Revenue (in US$ mil)          int64
Net income (in US$ mil)      object
Total Assets (in US$ mil)     int64
Employees                     int64
dtype: object

In [19]:
# Convert net income data type from object to int65

df['Net income (in US$ mil)']=pd.to_numeric(df['Net income (in US$ mil)'],errors='coerce')

In [20]:
df.dtypes

Revenue (in US$ mil)           int64
Net income (in US$ mil)      float64
Total Assets (in US$ mil)      int64
Employees                      int64
dtype: object

In [21]:
df1 = df.dropna()

In [33]:
financial_metrics_1 = df1.iloc[:, 0:3]
fig = financial_metrics_1.plot()
fig.update_xaxes(nticks=17)
fig.show()

In [64]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [65]:
df.columns

Index(['Revenue (in US$ mil)', 'Net income (in US$ mil)',
       'Total Assets (in US$ mil)', 'Employees'],
      dtype='object')

In [78]:
df.iloc[:, 0]

Year
2005    11129
2006    11995
2007    12990
2008    12879
2009    10908
2010    11691
2011    12317
2012    11814
2013    12784
2014    13796
2015    14486
2016    15407
2017    20452
2018    20758
2019    20972
2020    10571
2021    13857
Name: Revenue (in US$ mil), dtype: int64

In [94]:
fig = make_subplots(rows=1, cols=4, shared_xaxes=True, shared_yaxes=False, start_cell='top-left', x_title="Year", y_title="US Dollar")


revenue = df1.iloc[:, 0]
netincome = df1.iloc[:, 1]
asset = df1.iloc[:, 2]
employees = df1.iloc[:, 3]

fig.add_trace(go.Scatter(x=df1.index, y=revenue, name='Revenue'), row=1, col=1)
fig.add_trace(go.Scatter(x=df1.index, y=netincome, name='Net Income'), row=1, col=2)
fig.add_trace(go.Scatter(x=df1.index, y=asset, name='Total Assets'), row=1, col=3)
fig.add_trace(go.Scatter(x=df1.index, y=employees, name='Employees'), row=1, col=4)
fig.show()

The jump in 2016-2017 seems to be attriubtable to the acquisition of Starwood Hotels, whereas the dramatic drop from 2018-2021 may be due to covid.